
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: 
/*     local('Bebas Neue Bold'), local('BebasNeue-Bold'), local('Bebas Neue Regular'), local('BebasNeue-Regular'),  */
    url(https://cdn.glitch.com/a5b4716e-a39c-4b92-900d-afd86768f8c9%2Fbebas-neue-basic.woff2?v=1582705162659) format('woff2');
}

/* Press Start 2P - Latin */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: 
/*     local('Press Start 2P Regular'), local('PressStart2P-Regular'),  */
    url(https://cdn.glitch.com/a5b4716e-a39c-4b92-900d-afd86768f8c9%2Fpress-start-2p-latin.woff2?v=1582697598863) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Press Start 2P - Привет */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: 
/*     local('Press Start 2P Regular'), local('PressStart2P-Regular'),  */
    url(https://cdn.glitch.com/a5b4716e-a39c-4b92-900d-afd86768f8c9%2Fpress-start-2p-privet.woff2?v=1582697599362) format('woff2');
  unicode-range: U+041F, U+0440, U+0438, U+0432, U+0435, U+0442;
}

/* Work Sans - Latin Regular */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: 
/*     local('Work Sans'), local('WorkSans-Regular'),  */
    url(https://cdn.glitch.com/a5b4716e-a39c-4b92-900d-afd86768f8c9%2Fwork-sans-regular.woff2?v=1582697600361) format('woff2');
}

/* Work Sans - Latin Semibold */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: 
/*     local('Work Sans SemiBold'), local('WorkSans-SemiBold'),  */
    url(https://cdn.glitch.com/a5b4716e-a39c-4b92-900d-afd86768f8c9%2Fwork-sans-semibold.woff2?v=1582697600701) format('woff2');
}


::-moz-selection {
  color: #FFFFFF;
  background: #163BF3;
}

::selection {
  color: #FFFFFF;
  background: #163BF3;
}

/* My personal brand colors */
:root {
  --blue: #163BF3;
  --pale-pink: #FFC6DB;
  --pink: #FF5386;
  --black: #050505;
}

html,
body {
  font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: var(--black);
}

body {
  background: lightblue;
}

p {
  padding: 0;
  margin: 0;
}

.text-regular {
  font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.text-semibold {
  font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  font-feature-settings: 'tnum' on, 'lnum' on;
}


.text-pixel {
  font-family: 'Press Start 2P', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: none;
  font-weight: 400;
  font-style: normal;
}


/* Main building blocks */

footer,
header,
main {
  width: 920px;
  margin: 0 auto;
  background: yellow;
}

h1,
h2,
h3 {
  font-family: 'Bebas Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  margin: 0;
}

section {
  position: relative; 
  background: white;
  height: 1420px;
  width: 920px
}

.pink {
  color: var(--pink);
}

.black {
  color: var(--black);
}

.pale-pink {
  color: var(--pale-pink);
}

.abs {
  position: absolute;
}

.border {
  border: 2px solid var(--black);
  box-sizing: border-box;
}

.window {
  background: white;
}

.window-frame {
  border: 2px solid var(--black);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 10px 10px 0px var(--black);
  pointer-events: none;
}

.bubble {
  padding: 15px 30px;
  border-radius: 25px;
  background: white;
  box-sizing: border-box;
}

.bubble-frame {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  
  border: 2px solid var(--black);
  box-shadow: 10px 10px 0px var(--black);
  border-radius: 25px;
  pointer-events: none;
}

.bubble-top-right,
.bubble-top-right > .bubble-frame {
  border-top-right-radius:0;
}

.bubble-bottom-right,
.bubble-bottom-right > .bubble-frame {
  border-bottom-right-radius:0;
}

.bubble-top-left,
.bubble-top-left > .bubble-frame {
  border-top-left-radius:0;
}

.bubble-bottom-left,
.bubble-bottom-left > .bubble-frame {
  border-bottom-left-radius:0;
}

.bg-pink {
  background: var(--pale-pink);
}

.bg-sexy {
  background: url(https://cdn.glitch.com/a5b4716e-a39c-4b92-900d-afd86768f8c9%2Fsexy-pattern.png?v=1583219559592), 
    var(--pale-pink);
  background-size: 27px 16px;
}

#my-photo-main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;

  width: 200px;
  height: 200px;
}

